<h1>VIDEOJUEGOS</h1>
<form id="formCargarVJ">
    <label for="nombre">Nombre</label> <input type="text" id="inputNombre" placeholder="Nombre">
    <label for="genero">Genero</label> <input type="text" id="inputGenero" placeholder="Género">
    <label for="plataforma">Plataforma</label> <input type="text" id="inputPlataforma" placeholder="Plataforma">
    <button type="submit" id="btnGuardarJuego">Guardar</button>
</form>
<script src="/public/js/cargaVideojuegos.js"></script>