<h1>VIDEOJUEGOS</h1>
<form id="formCargarVJ">
    <label for="inputNombre">Nombre</label> <input name="nombre" type="text" id="inputNombre" placeholder="Nombre">
    <label for="inputGenero">Genero</label> <input type="text" name="genero" id="inputGenero" placeholder="Género">
    <label for="inputPlataforma">Plataforma</label> <input type="text" name="plataforma" id="inputPlataforma" placeholder="Plataforma">
    <button type="submit" id="btnGuardarJuego">Guardar</button>
</form>
<script src="js/cargaVideojuegos.js"></script>